* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  color: white;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

border {
  padding: 1rem 1.5rem;
}

.text-destaq {
  color: var(--seconda-color);
}
