.card .img-card img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card .infor-card h3 {
  max-width: 200px;
  display: -webkit-box;
  margin: 0.5rem 0.1rem;
  color: #1e2939bf;

  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.infor-card .rating {
  display: flex;
  align-items: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card h4 {
  font-size: x-large;
  margin: 0.5rem 0;
  color: var(--seconda-color);
}

.about-card span {
  color: #3a3a41;
}

.about-card .catalogo {
  width: 100%;
  text-align: center;
  display: flex;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--gradient-principal);
  border: 2px solid var(--gradient-principal);
  margin: 1rem 0;
}
