.card .img-card img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card .infor-card h3 {
  max-width: 280px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin: 0.5rem 0.1rem;
  color: #1a1a1a;
  line-height: 1.3;
}

.card .infor-card p {
  width: 100%;
  max-width: 280px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0.1rem;
  color: #1a1a1a;
  line-height: 1.3;
}

.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
